<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ page.description }}">
    <title>{{ page.title }}</title>

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/static/images/favicon-64x64.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/static/images/favicon-128x128.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/static/style.css">

    <!-- JS -->
    <script src="/static/main.js"></script>
  </head>

  <body>
    {{ content }}

    <!-- Yandex.Metrika counter -->

    <!-- /Yandex.Metrika counter -->
  </body>
</html>
